input{
  display: inline;
  width: 100px;
  margin-top: 0;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 12px;
  vertical-align: ;
  
  
  

}

.email{
  display: block;
  width: 218px;
  
}

.button{
  background-color: rgb(47, 127, 231) ;
  border: none;
  color:white;
  padding-left: 92px;
  padding-right: 92px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}